@mixin reset {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@mixin flex($justify: start, $align: stretch, $direction: row) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $direction;
}